<!DOCTYPE html>
<html>
<head>
  <title>McbSpotify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'build-chart', 'Chart', 'jquery.min.js', 'spotify-chart', 'data-miner', 'artist', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>
